<h1>ALL RESORTS</h1>
<%= link_to 'New Ski Resort', '/ski_resorts/new' %>

<% @ski_resorts.sorted.each do |ski_resort| %>

    <h3> <%= ski_resort.name %> </h3>
    <p> Created at: <%= ski_resort.created_at %> </p>

<% end %>
