<h1>ALL RESORTS</h1>
<a href="/ski_runs"> All Ski Runs </a>
<% @ski_resorts.sorted.each do |ski_resort| %>

    <h3> <%= ski_resort.name %> </h3>
    <p> Created at: <%= ski_resort.created_at %> </p>

<% end %>
